.pagina{
    width: 95%;
    margin-left: auto;
    margin-right: auto;

}

.painel{
    color: white;
    background-color: #0099cc;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    margin-bottom: 15px;
    
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.painel-titulo{
    margin-left: 10px;
    font-size: 48px;
    font-weight: bold
}
.painel-sub-titulo{
    margin-right: 10px;
    font-size: 28px;
}

.attribute{
    background-color: #00bfff;
    padding-right: 10px;
    padding: 5px;
}
.input{
    padding: 5px;
}

.formulario{
    border: 1px solid #000000;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
}


